<!DOCTYPE html>
<html>
<head>
    <title>AgileBite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3" style="background-color: antiquewhite;" >
        <img src="{{ url_for('static', filename='images/ab_logo-round.png') }}" class="img-thumbnail" style="width: 60px; height: 60px;">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1" style="color: #FF7F50;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2" style="color: #FF7F50;">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3" style="color:#FF7F50;">Contact</a>
          </li>
          
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

        <!-- First Container : About Us  -->
        <h4 id="scrollspyHeading1"> </h4>
       
        <div class="About us container-fluid" >
            <p class="text-center" style="font-size:100px;color: #FF7F50;">AgileBite</p>
            <p class="text-center" style="font-size:35px;color: #FF7F50; font-family:Georgia, 'Times New Roman', Times, serif;">Serving the global food community with passion and innovation. </p>
            <p class="text-center" style="font-size:25px;color: rgb(13, 13, 13);padding-left: 70px;padding-right: 70px;padding-bottom: 50px;font-style: italic;">"We are a dynamic Food and Tech SaaS startup dedicated to creating software solutions for efficient franchise management in the food industry. Our focus lies in developing customized software tailored to each franchise's specific requirements. Our ultimate aim is to provide you with user-friendly software that perfectly aligns with your needs, streamlining your franchise operations like never before." </p>
</div>

<!-- Second Container : Our Services   -->
    <h4 id="scrollspyHeading2"> </h4>
        <div class="container-fluid" style="background-color:#FF7F50;height:1600px;">
            <p class="text-center" style="font-size:60px;font-family:Georgia, 'Times New Roman', Times, serif; color: rgb(251, 251, 251); padding-top: 25px;">Our Services </p>
            <p class="text-center" style="font-size:25px;font-family:Georgia, 'Times New Roman', Times, serif;color: rgb(251, 251, 251); padding-top: 25px;margin-bottom: 50px;">Here are some of the services that our companies offer. These services can be customized accorrding to your requirements.  </p>
            <div class="Our Service ">
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col">
                        <img src="{{ url_for('static', filename='images/inventory management.jpeg') }}" class="img-thumbnail" style="width: 400px; height: 250px;margin-left: 150px;">
                      
                    </div>
                  <div class="col">
                    <p class="text-center" style="font-size:30px; color: rgb(251, 251, 251); font-weight:bold;font-family:Georgia, 'Times New Roman', Times, serif;">Inventory Management  </p>
                    <p class="text-center" style="font-style: italic; font-size:21px; font-weight:500;color: rgb(251, 251, 251) ;padding-bottom: 50px;">"Streamline your inventory management with our efficient and user-friendly solution. Our platform offers real-time tracking, automated stock updates, and seamless integration with your existing systems. Say goodbye to stockouts and overstocking, and gain better control over your inventory. Stay informed with insightful reports and optimize your supply chain effortlessly. Experience hassle-free inventory management like never before."</p>
                  </div>
                 
              </div>
              <div class="row" style="margin-bottom: 50px;">
                <div class="col">
                  <p class="text-center" style="font-size:30px;color: rgb(251, 251, 251); font-weight: bold;font-family:Georgia, 'Times New Roman', Times, serif;">Bill and Report Generation System </p>
                  <p class="text-center" style="font-style: italic; font-size:21px; font-weight:500;color: rgb(251, 251, 251) ;padding-bottom: 50px;">"Generate bills effortlessly with our intuitive and fast bill generation system. Customize bill templates to match your brand's identity. Easily add products, quantities, and prices with just a few clicks. Stay organized with automatic numbering and date tracking. Experience smooth and error-free billing for your business." </p>
                </div>
                <div class="col">
                  <img src="{{ url_for('static', filename='images/bill management.jpg') }}" class="img-thumbnail" style="width: 400px; height: 250px;margin-left: 150px;"  %>
                
              </div>
            </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col">
                    <img src="{{ url_for('static', filename='images/staff-managment.jpg') }}" class="img-thumbnail" style="width: 400px; height: 250px;margin-left: 150px;">
                  
                </div>
              <div class="col">
                <p class="text-center" style="font-size:30px;color: rgb(251, 251, 251); font-weight: bold;font-family:Georgia, 'Times New Roman', Times, serif;">Staff Management  </p>
                <p class="text-center" style="font-style: italic; font-size:21px;font-weight:500;color: rgb(251, 251, 251) ;padding-bottom: 50px;">"Optimize your staff management with our comprehensive platform. Easily schedule shifts, track attendance, and manage leaves. Streamline communication with staff through built-in messaging features. Access insightful analytics to improve workforce efficiency. Experience seamless staff management and focus on growing your business."</p>
              </div>
             
          </div>
          <div class="row" style="margin-bottom: 50px;" >
            <div class="col">
              <p class="text-center" style="font-size:200%;color: rgb(251, 251, 251); font-weight: bold  ;font-family:Georgia, 'Times New Roman', Times, serif;">Order and table Management </p>
              <p class="text-center" style="font-style: italic; font-size:21px;font-weight:500 ;color: rgb(251, 251, 251) ;padding-bottom: 50px;">"Simplify your restaurant's order and table management with our cutting-edge solution. Seamlessly take and process orders, assign tables, and track order status in real-time. Enhance customer experience with quicker service and reduced wait times. Our intuitive interface allows you to manage tables and orders with ease. Elevate your restaurant operations and delight your guests with efficient order and table management." </p>
            </div>
            <div class="col">
              <img src="{{ url_for('static', filename='images/order management.png') }}" class="img-thumbnail" style="width: 400px; height: 250px;margin-left: 150px;"  %>
            
          </div>
        </div>
        </div>

<!-- Third  Container : Contact Us  -->
        <h4 id="scrollspyHeading3"> </h4>
       <!-- <div class="container-fluid" style="background-color: rgb(254, 254, 254); height: 500px;">-->
            <p class="text-center" style="font-size:300%;color:#FF7F50;padding-top:50px;">Contact Us  </p>
            <div class="Contact Us " style="padding-bottom: 100px;">
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="font-size:200%;color:#FF7F50;font-weight: bold; font-family:Georgia, 'Times New Roman', Times, serif;"> For Enquires Email us on: </p>
                        <p class="text-center" style="font-size:175%;color:#FF7F50;font-family:'Times New Roman', Times, serif"> Email: AgileBite.3@gmail.com </p>
                        <p class="text-center" style="font-size:200%;color:#FF7F50;font-weight: bold; font-family:Georgia, 'Times New Roman', Times, serif;"> Call or Whatsapp on : </p>
                        <p class="text-center" style="font-size:150%;color:#FF7F50;font-family: 'Times New Roman', Times, serif;"> Abhishek: +91 7506811697</p>
                        <p class="text-center" style="font-size:150%;color:#FF7F50;font-family:'Times New Roman', Times, serif;"> Ruchita: +91 7020404457</p>
                    </div>
                 <!--Code for a contact us form for future reference -->
                <!-- <div class="col">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Full Name </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Contact No </label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Franchise Name </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            
                          </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Request a call back </button>
                      </form>
                  </div>--> 
                  <div class="col">
                    <img src="{{ url_for('static', filename='images/contact us.png') }}" class="img-thumbnail" style="width: 500px; height: 500px ;">
                  
                </div>
              </div>
              
        </div>
        
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
