<!DOCTYPE html>
<html>
<head>
    <title>Flask App with Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
   
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">AgileBite</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Services</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="#">Contact Us </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  </ul>
               
              </div>
            </div>
          </nav>
        <div class="About us container-fluid" >
            <p class="text-center" style="font-size:400%;color: chocolate;">AgileBite</p>
            <p class="text-center" style="font-size:150%;color: chocolate;">Serving the global food community with passion and innovation. </p>
            <p class="text-center" style="font-size:100%;color: rgb(13, 13, 13);">//conent about the company goes here </p>
</div>
<div class="container-fluid" style="background-color: rgb(250, 171, 87);">
    <p class="text-center" style="font-size:300%;color: rgb(251, 251, 251);">Our Services </p>
    <div class="Our Service ">
        <div class="row">
          <div class="col">
            Column
          </div>
          <div class="col">
            <img src="" class="img-thumbnail">
          
        </div>
      </div>
</div>

        
          
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
